<div class="container-fluid">
  <br>
  <h1 class="heading">About Us</h1>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-12">
      <img src="../assets/About.png" alt="" class="respons">
    </div>
    <div class="col-lg-3 col-md-3">

    </div>
    <div class="col-lg-5 col-md-5 col-12">
      <h4>Breaking news, updates, trends, and the latest info you need to know about SEO,
        Google and other search engines, top PPC platforms, and popular social media networks.</h4>
      <h4>We are updating the news promptly and swiftly keeping the net users updated with the latest news
        covering a wide area in politics, sports, entertainment, health, books, business and others.We provide
        a platform to the viewers as the most respected and trusted source for news and information. Our news
        portal has been designed in the most convenient manner so as to locate the desired news instantly.
        Today it is becoming the popular internet media web portal in news.</h4>
      <h4>With the visitors growing leaps and bounds with each new day the no. of pages viewed in the portal
        increasing. Currently we have reach of 1.5 crore. page-views per month with 25 lac unique users/visitors
        across its news portals.</h4>
    </div>


  </div>
<br><br>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">

      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Business News Time</mat-panel-title>
            <mat-panel-description>
              Total time : 3 Hours
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Free flow of communication between two businesses or companies is healthy for a country's economy.
            Because of this communication, the economy remains highly interlinked. For instance, a finished
            product of one company could be used as a raw material at some other company. Policies adopted by
            a major organization can affect a huge part of the economy. A merger of two giants can impact the
            turnover of many small organizatio</p>

          <mat-action-row>
            <a href="https://www.news18.com/business/"
            class="btn btn-dark btn-sm">Read more</a>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Technical News Time</mat-panel-title>
            <mat-panel-description>
              Total time : 2 Hours
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>With technology, it’s almost impossible to predict when you will need support services.
            A reactive approach to maintaining your businesses’ IT networks can be costly: lost productivity
            from unhappy customers and exorbitant repair costs if something goes wrong!</p>
          <p>AngelCom’s monthly Managed IT Service comes with the assurance of monitoring, security,
            and recovery for small to medium-sized businesses. Our cost-effective solution gives your
            business access to a full team of IT professionals and will handle all aspects of your
            technology while you focus on what’s really important: your business.</p>

          <mat-action-row>
            <a href="https://www.news18.com/tech/"
              class="btn btn-dark btn-sm">Read more</a>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Education News Time</mat-panel-title>
            <mat-panel-description>
              Total time : 2 Hours
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Education journalism deals with reporting different development and events happening in the
            field of education. These education journalism reports help a policymaker to implement new
            education policies, when in need. The main focus of an education journalist is to increase
            awareness about the education system and to promote students to opt for higher education.
            Usually, the target group for education journalism is students, researchers, and teachers.</p>
          <mat-action-row>
            <a href="https://www.news18.com/education-career/"
            class="btn btn-dark btn-sm">Read more</a>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Broadcast News Time</mat-panel-title>
            <mat-panel-description>
              Total time : 3 Hours
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This kind of journalism deals with broadcasting news through television or radio. Both of these mediums are
            widely used and possess unique characteristics. A reason why TV journalism is more popular than print
            journalism is that it does not only deliver news for the eyes but the ears as well. Audio visual
            experience provided to the audience through TV journalism engages them. This journalism has large budgets
            and resources that help journalists create high-quality content.</p>
          <p>Unlike TV, radio includes a large amount of interaction with the target audience. But, it usually
            gathers a limited number of participants as the broadcasting is done live. Radio channels usually
            have smaller budgets than TV channels causing limitations to covering fewer stories.</p>
          <p>Every type of journalism has its way of functio...... and challenges. For some, one needs
            to be extremely focused and conscious whereas, some types are more relaxed. So, which type of
            journalism suits you the best is in to your preferences Rut if you have any questions,
            you can ask us through our section</p>

          <mat-action-row>
            <a href="https://www.news18.com/"
              class="btn btn-dark btn-sm">Read more</a>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Politicals News Time</mat-panel-title>
            <mat-panel-description>
              Total time : 3 Hours
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is considered one of the serious types of journalism. The field of political journalism
            can be broken down into three categories: international political news, national political news,
            and local political news.</p>
          <p>A journalist whose niche is political news has to have an in-depth knowledge of political events,
            political figures, bodies, election campaigns, policies, their impact, the aftermath and then
            report the news in an unbiased manner. A political journalist needs to deliver a piece of information
            to the audience without impacting it due to a personal opinion on it. So, it would not be too much
            to say that being ↑ political journalist is a tough and risky job be f your news is hindered by
            your personal opinions, it can make you look bad in common people's eyes.</p>

          <mat-action-row>
            <a href="https://www.news18.com/news/politics/ed-records-sonia-gandhis-statement-on-third-day-of-questioning-in-national-herald-case-5634211.html"
              class="btn btn-dark btn-sm">Read more</a>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>

</div>
<br><br>

<div class="container-fluid">
  <div class="row row1">
    <div class="col-lg-3 col-md-3 col-12 pd">
      <h5 class="heading1">News</h5>
      <br>
      <P class="color">Get Started</P>
      <p class="color">Documentation</p>
      <p class="color">News Sources</p>
      <p class="color">Pricing</p>
      <p class="color">Google News</p>
    </div>
    <div class="col-lg-3 col-md-3 col-12 pd">
      <H5 class="line">About Us</H5>
      <br>
      <P class="color">About Us</P>
      <p class="color">Daily Update</p>
      <p class="color">World News</p>
    </div>
    <div class="col-lg-3 col-md-3 col-12 pd">
      <H5 class="heading1">Our Policies</H5>
      <br>
      <p class="color">Terms & Conditions</p>
      <p class="color">FAQs & Help</p>
    </div>
    <div class="col-lg-3 col-md-3 col-3 pd">
      <H5 class="heading1">Support</H5>
      <br>
      <P class="color">Contact </P>
      <p class="color">Twitter</p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-12 pd1">
          <br>
          <p style="color: white;">Help us in serving you better <a href="http://localhost:4200/contact">Give
              Feedback</a>

        </div>
      </div>
    </div>
  </div>
</div>

