.heading{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}

.respons{
    width: 600px;
    height: 100%;
}

.color{
    color: white;
    font-size: 12px;
    line-height: 10px;
  }

  .pd{
    padding-top: 60px; 
    padding-left: 90px;
  }

  .heading1{
    color: white;
   font-size: 1.07rem;
   line-height: 2px;
  }
  
  .row1{
    background-color: black;
  }

  .line{
    color: white;
    font-size: 1.07rem;
    line-height: 2px;
  }

  .pd1{
  padding-left: 100px;
  }