.box{
    padding: 5px 20px;
    box-sizing: border-box;
    height: 450px;
    }
    
    .heading{
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
    }

    .color{
        color: white;
        font-size: 12px;
        line-height: 10px;
      }
    
      .pd{
        padding-top: 60px; 
        padding-left: 90px;
      }
    
      .heading1{
        color: white;
       font-size: 1.07rem;
       line-height: 2px;
      }
      
      .row1{
        background-color: black;
      }
    
      .line{
        color: white;
        font-size: 1.07rem;
        line-height: 2px;
      }
    
      .pd1{
      padding-left: 100px;
      }