<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/news.jpg" alt="Los Angeles" width="1500" height="500">
      <div class="carousel-caption">
        <h3 class="color1">Marketing Agency for Your Business !</h3>
        <p class="color1">Running a small business means you have to be ready to face countless challenges and find
          solutions on the fly. </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/online_news.jpg" alt="Chicago" width="1500" height="500">
      <div class="carousel-caption">
        <h3 class="color1">Our Electronic Manufacturing and Design Capabilities</h3>
        <p class="color1">Newbury Electronics provides the most comprehensive in-house Electronic Manufacturing Service
          (EMS) in the UK.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/paper.jpg" alt="New York" width="1500" height="500">
      <div class="carousel-caption">
        <h3 class="color1">TIME IS NOT ON YOUR SIDE,WE ARE !</h3>
        <p class="color1">Equal commitment to clients in all types of criminal cases</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/read_newspaper.jpg" alt="New York" width="1500" height="500">
      <div class="carousel-caption">
        <h3 class="color1">Infractions and Violations</h3>
        <p class="color1">Traffic tickets are civil infractions, not criminal offenses punishable only by fines and not
          jail time.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div><br>
<mat-divider></mat-divider>
<br>
<mat-grid-list cols="3" rowHeight="3:1">

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>58 Countries</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="../assets/88-countries.png" class="image">
      </mat-card-title-group>
      <mat-card-content>
        Track relevant news sources from different countries.
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Analyze the data</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="../assets/analyze-the-data.png" class="image">
      </mat-card-title-group>
      <mat-card-content>
        Use various text analytics models to analyze data.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Download the Data</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="../assets/download-the-data.png" class="image">
      </mat-card-title-group>
      <mat-card-content>
        Extract valuable news data in Excel,JSON file.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Easy to Integrate</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="../assets/integrate.png" class="image">
      </mat-card-title-group>
      <mat-card-content>
        rack and analyze large volumes of news in the world.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Excel, CSV & JSON format</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="../assets/json-response.png" class="image">
      </mat-card-title-group>
      <mat-card-content>
        Identify relevant historical and real-time news sources
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>News Sources</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="../assets/news-sources.png" class="image">
      </mat-card-title-group>
      <mat-card-content>
        Extract news data from over 3000 trusted sources
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-12 pd">
      <h5 class="heading1">News</h5>
      <br>
      <P class="color">Get Started</P>
      <p class="color">Documentation</p>
      <p class="color">News Sources</p>
      <p class="color">Pricing</p>
      <p class="color">Google News</p>
    </div>
    <div class="col-lg-3 col-md-3 col-12 pd">
      <H5 class="line">About Us</H5>
      <br>
      <P class="color">About Us</P>
      <p class="color">Daily Update</p>
      <p class="color">World News</p>
    </div>
    <div class="col-lg-3 col-md-3 col-12 pd">
      <H5 class="heading1">Our Policies</H5>
      <br>
      <p class="color">Terms & Conditions</p>
      <p class="color">FAQs & Help</p>
    </div>
    <div class="col-lg-3 col-md-3 col-3 pd">
      <H5 class="heading1">Support</H5>
      <br>
      <P class="color">Contact </P>
      <p class="color">Twitter</p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-12 pd1">
          <br>
          <p style="color: white;">Help us in serving you better <a href="http://localhost:4200/contact">Give
              Feedback</a>

        </div>
      </div>
    </div>
  </div>
</div>
